@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&display=swap");

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat/Caveat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat/Caveat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat/Caveat-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat/Caveat-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Architects Daughter", cursive;
}

.font-fun {
  font-family: "Caveat", "Architects Daughter", cursive;
}

.empty-content {
  content: "";
  text-indent: 100vw;
}

* {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: gray;
}

::selection {
  color: white;
  background: gray;
}
